---
import { Icon } from "astro-icon/components";

import NavigationItem from "@/components/vue/NavigationItem.vue";
import CommandMenu from "@/components/vue/CommandMenu.vue";

import ThemeSwitcher from "./ThemeSwitcher.astro";

interface Props {
  posts: { title: string; href: string }[];
}

const links = [
  {
    href: "/",
    label: "Home",
    icon: "lucide:home",
  },
  {
    href: "/posts",
    label: "Blog",
    icon: "lucide:newspaper",
  },
  {
    href: "/about",
    label: "About",
    icon: "lucide:user",
  },
  {
    href: "/bookmarks",
    label: "Bookmarks",
    icon: "lucide:bookmark",
  },
];

const currentPath = Astro.url.pathname;
const { posts } = Astro.props;
---

<nav
  class=":uno: flex fixed transition-colors border shadow-lg rounded-md bottom-8 left-1/2 translate-x-[-50%] bg-navigation-background border-navigation-border z-10"
>
  {
    links.map((link, idx) => (
      <NavigationItem
        label={link.label}
        className={`${idx === 0 ? "ml-1" : ""} ${currentPath.match(`${link.href}/.?`) || currentPath === link.href ? "text-heading bg-navigation-accent" : ""}`.trim()}
        href={link.href}
        client:load
      >
        <Icon name={link.icon} aria-label={link.label} class="h-auto w-5" />
      </NavigationItem>
    ))
  }

  <div class="border border-navigation-border transition-colors"></div>

  <CommandMenu posts={posts} client:load>
    <Icon
      name="lucide:command"
      aria-label="Command Palette"
      class="w-5 h-auto"
    />
  </CommandMenu>

  <ThemeSwitcher />

  <button
    id="confettiButton"
    class=":uno: px-3 py-2 hover:text-heading hover:bg-navigation-accent transition-colors rounded-md"
    aria-label="Celebrate!"
  >
    <Icon name="lucide:party-popper" class="h-auto w-5" />
  </button>
</nav>

<script>
  import confetti from 'canvas-confetti';
  
  document.getElementById('confettiButton')?.addEventListener('click', () => {
    const duration = 15 * 1000;
    const animationEnd = Date.now() + duration;
    const defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

    function randomInRange(min, max) {
      return Math.random() * (max - min) + min;
    }

    const interval = setInterval(() => {
      const timeLeft = animationEnd - Date.now();

      if (timeLeft <= 0) {
        return clearInterval(interval);
      }

      const particleCount = 50 * (timeLeft / duration);
      confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 } }));
      confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 } }));
    }, 250);
  });
</script>

